# Frontend
frontend/node_modules
frontend/.env
frontend/build
frontend/dist

# Backend
backend/node_modules
backend/.env
backend/database.sqlite
backend/database.sqlite-journal

# Общие
.DS_Store
.idea
.vscode
*.log
